.header-holder {
  padding-top: 10rem;
  padding-bottom: 8rem;
  display: flex;
  justify-content: space-between;
}

nav a {
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.1rem;
  text-decoration: none;
}

nav a:hover {
  color: $brand-primary;
}
