<footer class="footer">
  <div class="ontent-1330 center-relative">
    <div class="footer-center">
      <a href="index.html">
        <img src="images/logo-remi-vert.png" alt="Logo Rémi Créations" width="150px">
      </a>
    </div>
  </div>
</footer>
