<div class="content-1330 header-holder center-relative">
  <div class="header-logo left">
    <a href="index.html">
      <img src="images/logo-remi-vert.png" alt="Logo Rémi Créations" width="200px">
    </a>
  </div>

  <div class="header-menu right">
    <nav id="header-main-menu">
      <ul>
        <li class="d-inline">
          <a href="index.html">Accueil</a>
        </li>
<!--         <li class="d-inline">
          <a href="#">A Propos</a>
        </li> -->
<!--         <li class="d-inline">
          <a href="#">Portfolio</a>
        </li> -->
        <li class="d-inline">
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
