---
title: Remi Créations
---

<div id="content" class="site-content">
  <article>
    <div class="content-1330 center-relative">
      <div class="page-desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam sequi, ex iusto unde id culpa aperiam perferendis neque modi odio officia ratione voluptate asperiores placeat vitae molestias sint provident voluptatem.
      </div>
      <div class="button-group filters-button-group">
        <div class="button is-checked" data-filter="*">Tout</div>
        <div class="button" data-filter=".verre">Verre</div>
        <div class="button" data-filter=".argile">Argile</div>
        <div class="button" data-filter=".bijoux">Bijoux</div>
      </div>
      <div class="grid" id="portfolio">
        <div class="grid-sizer"></div>
        <div class="grid-item element-item p_one_third verre">
          <a href="images/fleur_orange.jpg">
            <img src="images/fleur_orange.jpg" alt="">
            <div class="portfolio-text-holder">
              <p>FLEUR ORANGE</p>
            </div>
          </a>
        </div>

        <div class="grid-item element-item p_one_third verre">
          <a href="images/fleur_rose.png">
            <img src="images/fleur_rose.png" alt="">
            <div class="portfolio-text-holder">
              <p>FLEUR ROSE</p>
            </div>
          </a>
        </div>

        <div class="grid-item element-item p_one_third post">
          <a href="single-portfolio.html">
            <img src="images/plume.jpg" alt="plume">
            <div class="portfolio-text-holder">
              <p>PLUME</p>
            </div>
          </a>
        </div>

        <div class="grid-item element-item p_one_third argile">
          <a href="https://www.youtube.com/watch?v=xEW_YXgRSIE" data-rel="prettyPhoto[gallery1]">
            <img src="images/cactus_vert.jpg" alt="">
            <div class="portfolio-text-holder">
              <p>CACTUS</p>
            </div>
          </a>
        </div>

        <div class="grid-item element-item p_one_third verre">
          <a href="http://drythemes.com" target="_blank">
            <img src="images/visage.jpg" alt="visage">
            <div class="portfolio-text-holder">
              <p>VISAGE</p>
            </div>
          </a>
        </div>

        <div class="grid-item element-item p_one_third argile">
          <a href="single-portfolio.html">
            <img src="images/trio-coquelicot.jpg" alt="trio de coquelicot">
            <div class="portfolio-text-holder">
              <p>TRIO DE COQUELICOT</p>
            </div>
          </a>
        </div>
      </div>

      <div class="desc">
        <div class="one_half">
          <p>
            <strong>The Story</strong>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus dolores quo commodi illo dolorum, aspernatur quis quidem odio vel architecto eos, provident sunt quos cum. Dolores nihil recusandae exercitationem saepe.
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora ipsum, mollitia dolorem numquam, quisquam ex suscipit aliquam fugit maxime. Laborum, maiores itaque libero, eligendi ea rerum quam tenetur temporibus fugiat?</p>
        </div>
        <div class="one_half last">
          <p>
            <strong>Dreamers</strong>
            <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem non quo ratione quas illum dignissimos incidunt ut eius explicabo molestias dicta iusto rerum alias nulla recusandae, nobis consectetur earum distinctio?
          </p>
          <p>&nbsp;</p>
          <div class="text-left">
            <a href="#" target="_self" class="button">More…</a>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
